name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to DockerHub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

      - name: Build & Tag Docker Image
        run: |
          set -e
          GIT_SHA=$(git rev-parse --short HEAD)
          # build once and add both tags (include build context ".")
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:$GIT_SHA \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest .

      - name: Push Docker Image
        run: |
          set -e
          GIT_SHA=$(git rev-parse --short HEAD)
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:$GIT_SHA
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:latest
